*{
    box-sizing:border-box
}
body{
    margin: 0;
}

.container{
    margin:auto;
    /* border: 1px solid red; */
    background-color: teal;
    height: 100vh;
    width: 100vw;
}
.main-title-container{
    margin: auto;
    text-align: center;
}
.main-title-container>h1{
    margin: auto;
}
.list-container, .about-container{
    margin:auto;
    height: 50%;
    width: 50%;
    border: 1px solid black;
    transform: translateY(25%);
    display: none;
}
.header-div{
    border-bottom: 1px solid black;
    height: 10%;
    text-align: center;
    background-color: rgb(212, 97, 97);
}
.flashcard{
    margin:auto;
    border: 1px solid black;
    width: 35%; 
    height: 65%;
    /* transform: translateY(15%); */
    background-color: rgba(211, 205, 205, 0.89);
}
.character-container{
    margin: auto;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    transform: translateY(50%);
    background-color:#d46060; 
    text-justify: center;
}
.character-container > p{
    text-align: center;
    font-size: 2rem;
}
.character-container > p:hover{
    cursor: pointer;
}
/* .character-container > p > .hsk-category{
    margin: 0;
    font-size: 1.25rem;
} */
ul.button-list{
    width: 100%;
    padding-left: 0;
}
button.level{
    margin: 1%;
    width: 14%;
}
.footer-div{
    width: 100%;
    /* transform: translateY(60%); */
    margin: auto;
    height: 25%;
    border: 1px solid black;
}
footer{
    text-align: center;
    color: white;
}
/* About page */
.about-container{
    padding:10px;
}
.good-luck-p{
    text-align: center;
}

/* Media Queries for Mobile */

@media only screen and (max-width: 768px) {
    .list-container{
        margin: auto;
        height: 60%;
        width: 75%;
        border: 1px solid black;
        transform: translateY(15%);
    }
    .character-container{
        width: 75%;
    }
    .flashcard{
        width: 75%;
    }
    .character-container > p {
        font-size: 2rem;
    }
} 